rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /exercises/{exercise} {
            allow read;
        }
        match /preferences/{user_id} {
            allow read, write;
        }
    }
}
