/*********                  **********/
/*********                  **********/
/*********   FONT IMPORTS   **********/
/*********                  **********/
/*********                  **********/
/* @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@font-face {
    font-family: "Pendule Ornamental";
    src: url(fonts/pendule-ornamental.ttf);
} */

/*********                  **********/
/*********                  **********/
/*********   FONTS          **********/
/*********                  **********/
/*********                  **********/
:root {
    --mainfont: Helvetica, Arial, sans-serif;
    --secondaryfont: sans-serif;
}
html,
button {
    font-family: var(--mainfont);
    font-size: 5vh;
}
h1 {
    font-family: "Pendule Ornamental"
}

/*********                  **********/
/*********                  **********/
/*********   BORDER BOX     **********/
/*********                  **********/
/*********                  **********/
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*********                  **********/
/*********                  **********/
/*********   COLORS         **********/
/*********                  **********/
/*********                  **********/
:root {
    /* --paper: rgb(212, 204, 193); */
    --bg: #ffff00;
    --fg: rgb(22, 21, 21);
    --realbtncolor: white;
    /* --navy: hsl(243deg, 16%, 35%); */
    --calcbg: hsl(243deg, 16%, 35%);
    --solarpanelborder: hsl(243deg, 16%, 35%);
    --displayscreenborder: hsl(243deg, 16%, 35%);
}

:root.darkmode {
    --bg: black;
    --fg: #ffff00;
    --realbtncolor: rgb(0, 0, 0);
    --calcbg: rgb(255, 255, 255);
    --solarpanelborder: rgb(88, 88, 88);
    --displayscreenborder: rgb(92, 92, 92);
}

/*********                  **********/
/*********                  **********/
/*********   BACKGROUNDS    **********/
/*********                  **********/
/*********                  **********/
.div-full-frame {
    position: relative;
    background-color: var(--bg);
    width: 100vw;
    height: 100vh;
}

.section-rego {
    background: none;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.btn-rego {
    background: none;
    width: 100%;
    height: 30vh;
    border: 0.5rem solid var(--fg);
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;

    font-size: 20vh;
}
.stretch {
    color: red;
    display: inline-block;
    transform: scale(3,1);
}
.nav-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.nav-btm {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.img-gif1 {
    display: block;
    height: 100vh;
    width: 100vw;
}


/*********                  **********/
/*********                  **********/
/*********       REGO       **********/
/*********                  **********/
/*********                  **********/
fieldset {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
}
.popup-rego {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}