/*********                  **********/
/*********                  **********/
/*********   FONT IMPORTS   **********/
/*********                  **********/
/*********                  **********/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@font-face {
    font-family: "Pendule Ornamental";
    src: url(/assets/fonts/pendule-ornamental/pendule-ornamental.ttf);
}

/*********   FONTS          **********/
:root {
    --mainfont: Helvetica, Arial, sans-serif;
    --secondaryfont: sans-serif;
}
html,
button {
    font-family: var(--mainfont);
    font-size: 3vw;
}

/*********                  **********/
/*********                  **********/
/*********   BORDER BOX     **********/
/*********                  **********/
/*********                  **********/
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* SCROLL */
html {
    scroll-behavior: smooth;
}
/*********                  **********/
/*********                  **********/
/*********   COLORS         **********/
/*********                  **********/
/*********                  **********/
:root {
    --bg: #ffff00;
    --fg: rgb(22, 21, 21);
}
:root.settings-page {
    --bg: black;
    --fg: rgb(255, 38, 38);
}

:root.darkmode {
    --bg: black;
    --fg: #ffff00;
}

/*********                  **********/
/*********                  **********/
/*********   BACKGROUNDS    **********/
/*********                  **********/
/*********                  **********/

.div-full-frame {
    position: relative;
    background-color: none;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
.cover {
    background-color: black;
    opacity: 80%;
    z-index: 100;
    filter: blur(2px);
}

.section-rego {
    background: none;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

/* REGO BUTTON */
.btn-rego {
    background: none;
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 30vh;
    border: 0.5rem solid var(--fg);
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    font-size: 3.6rem;
    transition: transform 0.5s;
}
.btn-rego:hover {
    transform: scale(3,1);
}
.stretch {
    color: red;
    display: inline-block;
    transform: scale(3,1);
}

/* NAVS */
.nav-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.nav-btm {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* GIFS */
.img-gif1 {
    display: block;
    height: 100vh;
    width: 100vw;
}

/*********                  **********/
/*********                  **********/
/*********       REGO       **********/
/*********                  **********/
/*********                  **********/
.form-rego {
    display: flex;
    flex-direction: column;
}
fieldset {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    border: 3px solid var(--fg);
    width: 100%;
}
/* TODO: Sretch text horizontally */
.popup-rego {
    position: fixed;
    text-align: justify;
    font-size: 1rem;
    z-index: 1000;
    border: 0.1rem solid rgb(36, 3, 3);
    border-radius: 5%;
    padding: 0.5rem;
    background-color: rgb(255, 28, 28);
    top: 50%;
    left: 50%;
    height: 30vw;
    transform: translateY(-50%) translateX(-50%);
    animation: stretch-100vw 7s infinite;
}
select, input {
    height: 1rem;
    margin: 0.2rem 0;
}
.btn-create-profile {
    margin-bottom: 0.5rem;
}

@keyframes stretch-100vw {
    0%, 50%, 100% {
        width: 96%;
    }
    25%, 75% {
        width: 99%;
    }

}
/* SETTINGS PAGE */
/* SETTINGS PAGE */
/* SETTINGS PAGE */
/* SETTINGS PAGE */
/* SETTINGS PAGE */
/* SETTINGS PAGE */
/* SETTINGS PAGE */
.settings-page {
    --bg: black;
    --fg: red;
    color: var(--fg);
}
.section-settings {
    border: 1rem solid var(--fg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90vw;
    height: 90vh;
}
form {
    display: flex;
}
.div-settings-saving-progress {
    text-align: center;
}
button:hover {
    cursor: pointer;
}
/* CLOCK */
.div-clock {
    text-align: center;
    font-family: "Pendule Ornamental"
}
.span-clock {
    font-family: "Pendule Ornamental";
}

/* ANIMATIONS */
.animation-stretch-1 {
    animation: stretch-1 4s infinite;
}
@keyframes stretch-1 {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(3,1);
    }
    100% {
        transform: scale(1,1);
    }

}
/* LINKS */
a {
    text-decoration: none;
    color: var(--fg);
}