/*********                  **********/
/*********                  **********/
/*********   FONT IMPORTS   **********/
/*********                  **********/
/*********                  **********/
/* @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@font-face {
    font-family: "Pendule Ornamental";
    src: url(fonts/pendule-ornamental.ttf);
} */

/*********   FONTS          **********/
:root {
    --mainfont: Helvetica, Arial, sans-serif;
    --secondaryfont: sans-serif;
}
html,
button {
    font-family: var(--mainfont);
    font-size: 3vw;
}
h1 {
    font-family: "Pendule Ornamental"
}

/*********                  **********/
/*********                  **********/
/*********   BORDER BOX     **********/
/*********                  **********/
/*********                  **********/
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* SCROLL */
html {
    scroll-behavior: smooth;
}
/*********                  **********/
/*********                  **********/
/*********   COLORS         **********/
/*********                  **********/
/*********                  **********/
:root {
    /* --paper: rgb(212, 204, 193); */
    --bg: #ffff00;
    --fg: rgb(22, 21, 21);
    --realbtncolor: white;
    /* --navy: hsl(243deg, 16%, 35%); */
    --calcbg: hsl(243deg, 16%, 35%);
    --solarpanelborder: hsl(243deg, 16%, 35%);
    --displayscreenborder: hsl(243deg, 16%, 35%);
}

:root.settings-page {
    --bg: black;
    --fg: rgb(255, 38, 38);
}

:root.darkmode {
    --bg: black;
    --fg: #ffff00;
    --realbtncolor: rgb(0, 0, 0);
    --calcbg: rgb(255, 255, 255);
    --solarpanelborder: rgb(88, 88, 88);
    --displayscreenborder: rgb(92, 92, 92);
}

/*********                  **********/
/*********                  **********/
/*********   BACKGROUNDS    **********/
/*********                  **********/
/*********                  **********/
.div-full-frame {
    position: relative;
    background-color: var(--bg);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
.cover {
    background-color: black;
    opacity: 80%;
    z-index: 100;
    filter: blur(2px);
}

.section-rego {
    background: none;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

/* REGO BUTTON */
.btn-rego {
    background: none;
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 30vh;
    border: 0.5rem solid var(--fg);
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    font-size: 3.6rem;
    transition: transform 2s;
}
.btn-rego:hover {
    transform: scale(3,1);
}
.stretch {
    color: red;
    display: inline-block;
    transform: scale(3,1);
}

/* NAVS */
.nav-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.nav-btm {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* GIFS */
.img-gif1 {
    display: block;
    height: 100vh;
    width: 100vw;
}

/*********                  **********/
/*********                  **********/
/*********       REGO       **********/
/*********                  **********/
/*********                  **********/
fieldset {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--fg);
}
/* TODO: Sretch text horizontally */
.popup-rego {
    position: fixed;
    text-align: justify;
    font-size: 1rem;
    z-index: 1000;
    background-color: rgb(255, 28, 28);
    top: 50%;
    left: 0;
    width: 100vw;
    height: 30vw;
    transform: translateY(-50%);
}
/* SETTINGS PAGE */
/* SETTINGS PAGE */
/* SETTINGS PAGE */
/* SETTINGS PAGE */
/* SETTINGS PAGE */
/* SETTINGS PAGE */
/* SETTINGS PAGE */
.settings-page {
    --bg: black;
    --fg: red;
    color: var(--fg);
}
.section-settings {
    border: 1rem solid var(--fg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90vw;
    height: 90vh;
}
form {
    display: flex;
}
.div-settings-saving-progress {
    text-align: center;
}
button:hover {
    cursor: pointer;
}